#myDiv{
  background-color: red;
  width: 100px;
  height: 100px;
  border: 1px solid;
  position: relative;
}

#box{
  background-color: lightgreen;
  width: 100px;
  height: 100px;
  position: relative;
}

