@media (max-width: 1200px){
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
  }


  .sidebar-link{
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  }

  .sidebar-link:hover{
    background-color: rgb(241, 241, 241);
  }

  .sidebar-link img{
    height: 24px;
  }

  .sidebar-link div{
    font-family: Roboto;
    font-size: 10px;
  }
}

@media (min-width: 1200px) {
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 240px;
    z-index: 200;
    padding-top: 5px;
  }


  .sidebar-link{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    padding-left: 24px;
    padding-right: 24px;
  }

  .sidebar-link:hover{
    background-color: rgb(241, 241, 241);
  }

  .sidebar-link img{
    height: 24px;
    margin-right: 24;
  }

  .sidebar-link div{
    font-family: Roboto;
    font-size: 14px;
    width: 144px;
  }
}